# to sync with .dockerignore & pyrightconfig.json

*.pyc
*/*.pyc
*~
*.swp
geckodriver.log

.coverage
coverage/

.nvm/
cache/
build/
dist/
local/
gh-pages/
*.egg-info/

# Node modules & lock files
/package-lock.json
/node_modules/

.idea/

# Ignore versioned file for searxng settings
searx/version_frozen.py
.dir-locals.el

.python-version

# Ignore sensitive settings file
searxng/settings.yml